<div *ngIf="quake$ |async as quake" class="d-flex justify-content-center pt-5">
    <div class="card text-center">
        <div class="card-header">
          {{quake.properties.place}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Magnitude: {{quake.properties.mag}}</h5>
          <h5 class="card-title">{{quake.properties.time | date:'medium'}}</h5>
          <p>Tsunami generated: <b>{{quake.properties.tsunami ? 'Yes' : 'No'}}</b></p>
          <p>Click <a href="{{quake.properties.url}}">here</a> to view the offical website.</p>
          <a routerLink='/quakes-list' class="btn btn-primary">Back to list</a>
        </div>
        <div class="card-footer text-muted">
            Identification: {{quake.id}}
        </div>
      </div>
</div>